nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
	div.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
			span.sr-only Ver Menú
			span.icon-bar
			span.icon-bar
			span.icon-bar
                
		a.navbar-brand Consultorios JAI            
		ul.nav.navbar-top-links.navbar-right               
			li.dropdown
				a.dropdown-toggle(data-toggle='dropdown', href='#')
					i.fa.fa-user.fa-fw
					i.fa.fa-caret-down
				ul.dropdown-menu.dropdown-user
					li
						a.
							|<i class='fa fa-user fa-fw'></i> Perfil
                        
					li.divider
					li
						a(href='#')
							i.fa.fa-sign-out.fa-fw
								Salir                        