extends layout
block content
	div#wrapper
		nav#navtop.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
		nav#navside.navbar-default.navbar-static-side(role='navigation')
		div#page-wrapper