<div class="row">
    <div class="span9 ">
        <h1>Agenda</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                                <label>Elija un médico:</label>
                        <select id="medicos" class="form-control">
                            <%  _.each(model.medicos, function(medico){ %>
                <option value="<%= medico._id %>"><%= medico.nombre.completo %></option>
                            <%  }); %>
                        </select></div>
                        <div class="botonNuevo"></div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
